
/* For desktop: */

    @media only screen and (min-width: 993px) {
    .container {
        max-width: 1200px;
        padding: 0 10px;
    }

        .header-image-block {
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header-container {
            height: 100px;
            background-color: #27262a;
        }

        .navbar-dropdown-menu {

            background-color: transparent;
            transform: none;
            top: 50px;
            color: rgb(141, 129, 172);
            position: absolute;
            margin: 0 20px;
            transition: 5s ease-in-out;
            width: auto;

        }

        .navbar-menu-item {
            color: rgb(141, 129, 172);
            font-size: 16px;
            border-bottom: none;
            align-self: baseline;
        }

        .navbar-logo-text{


        }
        .navbar-logo {

         padding-left: 15px;
            float:left;
        }

        a {
            text-decoration: none;
        }

        .navbar-toggler {
            text-decoration: none;
           opacity: 0;
        }
        .btn-small {
            padding: 13px 33px;
            border-radius: 20px;
            background-color: #8d81ac;
            color: white;
            align-content: center;
            text-align: center;
            padding-top:  14px;
            position: absolute;
            top:35px;
            right: 20px;
            margin-left: 55px;
        }
        .h1-title {
            color: white;
            text-align: center;
            font-size:80px;
            margin-top: 0;
            padding-top: 60px;
            font-weight: 900;
            font-style: normal;
        }
        .h5-title {
            font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier;
            font-size: 24px;
            padding: 25px;
            color: rgba(141, 129, 172, 255);
            text-align: center;
        }
        .h6-title {
            font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier;
            font-size: 14px;
            color:  rgba(132, 142, 151, 255);
            text-align: center;
            margin-bottom: 390px;
        }
        .btn-big {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            width: 390px;
            border-radius: 30px;
            background-color: #8d81ac;
            color: white;
            text-align: center;
            padding: 23px 63px;
            margin:0 auto;
            white-space: nowrap;
        }

        .reviews {

            background-repeat: no-repeat;
            overflow: hidden;
            background-size: cover;

        }
        .h2-title {
            color: white;
            text-align: center;
            font-size:60px;
            font-weight: bold;
            margin-top: 0;
            padding-top: 60px;
        }

        .logo-cards {
           padding-left: 55px;
        }

        .card {
            align-self: center;
            width: 25%;
            margin-top: 50px;
            height: 204px;

        }

        .card>a>p {
            text-align: center;
            text-decoration:none;
            position: absolute;
            margin-top: 220px;

        }
        .company-logos>.logo4 {
            background-color: yellow;
        }
        .bottomblock>a>p {
            font-family: ﻿Lato-BoldItalic, sans-serif;
            font-style: italic ;
            color: white;
            text-align: center;
            display: inline-block;
        }

        .company-logos {
            display: block;
            padding-bottom: 50px;
            margin:0 auto;
        }

        .footer-text {
            margin: 0 auto;
            opacity: 1;
            font-family: ﻿Lato-BoldItalic, sans-serif;
            font-size: 14px;
            color: rgba(162, 145, 165, 255);
        }

        hr {
            width: 744px;
            color: rgba(162, 145, 165, 255);
            text-align: center;
        }
}
