/*@media (min-width: 480px) {*/
    /*.container {*/
        /*max-width: 320px;*/
    /*}*/
/*}*/
 @font-face {
     font-family: 'Montserrat';
     src: local('Montserrat Hairline'), local('Montserrat-Hairline');
     font-weight: 100;
     font-style: normal;
 }

.container {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
}

.navbar {
    padding: 37px 0;

    background-color: #27262a;
}

.navbar-dropdown-menu {
    display: none;
}

.navbar-logo-text {
    display: none;
}

.btn {
    background-color: #8d81ac;
    border-radius: 44px;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
}

.btn-small {
    padding: 12px 24px;
}

.btn:hover {
    background-color: white;
    color: rgba(141, 129, 172, 255);
}

ul {
    display: block;
}

.navbar-toggler {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.navbar-toggler-line {
    width: 26px;
    height: 2px;
    background-color: #e5e3e3;
    margin-bottom: 7px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.navbar-dropdown-menu {
    background: #273037;
    position: absolute;
    top: 106px;
    z-index: 5;
    width: 290px;
    opacity: 1;
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    transform: scaleY(0);
}

.navbar-menu-item {
    color: white;
    padding: 5%;
    font-size: 25px;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navbar-menu-link {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

.header-image-block {
    font-family: sans-serif;
    background-image: url("../../img/header/img1.png");
    background-size: cover;
    background-position: center;

    height: 612px;
    margin: 0 auto;
    position: relative;
}

.header-container {
    height: 100px;
    background-color: #27262a;

}

.h1-title {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    padding-top: 45px;

    font-weight: 900;
    font-style: normal;
}

.h5-title {
    font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier, sans-serif;
    font-size: 20px;
    padding: 25px;
    color: rgba(141, 129, 172, 255);
    text-align: center;
    line-height: 200%;
}

.h6-title {
    font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier, sans-serif;
    font-size: 16px;
    color: rgba(132, 142, 151, 255);
    text-align: center;
    margin-bottom: 390px;
}

.btn-big {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    border-radius: 30px;
    background-color: #8d81ac;
    color: white;
    text-align: center;
    padding: 15px 31px;
    margin: 0 auto;
    white-space: nowrap;
}

.reviews {
    background-image: url("../../img/header/testmonials-bg@1X.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.h2-title {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 60px;
}

.card {
    box-sizing: border-box;
    margin-top: 50px;
    position: relative;
    display: inline-block;

    margin-left: 20px;
    margin-right: 20px;

}

.card > a > p {
    min-width: 50%;
    flex: 0 0 50%;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-top: 220px;
    left: 25px;
    right: 80px
}

.bottomblock > a > p {
    font-family: ﻿Lato-BoldItalic, sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
    display: inline-block;

}

.company-logos {
    display: block;
    padding-bottom: 50px;
    margin: 0 auto;
}

.footer-text {
    opacity: 0;
    text-align: center;
    font-family: ﻿Lato-BoldItalic, sans-serif;
    font-size: 14px;
    color: rgba(162, 145, 165, 255);
    margin-top: 50px;
    margin-bottom: 5px;
}

hr {
    width: 80%;
    color: rgba(162, 145, 165, 255);
    margin-bottom: 20px;
}

