/* For tablet: */

@media only screen and (min-width: 481px) {
    .container {
        max-width: 992px;
        padding: 0 10px;
    }

    .header-image-block {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-container {
        height: 100px;
        background-color: #27262a;
    }

    .navbar-dropdown-menu {
        background-color: transparent;
        transform: none;
        top: 85px;
        color: rgb(141, 129, 172);
        position: absolute;
        left: 0;
        right:0;
        width: auto;
        display: flex;
        text-align: center;

    }
    .navbar-menu-off {
        display: block;
    }

    .navbar-menu-item {
        font-size: 16px;
        display: inline;
        border-bottom: none;
        font-weight: bold;
    }
    .navbar-menu-link:hover {
        color: white;
    }
    .navbar-menu-link {
        color: rgb(141, 129, 172);
        font-weight: bold;
    }

    .navbar-logo-text{
        font-family: "Montserrat";
        font-size: 24px;
        color: rgb(141, 129, 172);
        display: inline-block;
        padding-left: 15px;
        padding-top: 10px;

    }
    .navbar-logo {
        display: flex;
        padding-left: 15px;
    }
    a {
        text-decoration: none;
    }

    .navbar-toggler {
        text-decoration: none;
        opacity: 0;
    }
    .btn-small {
        padding: 13px 33px;
        border-radius: 20px;
        background-color: #8d81ac;
        color: white;
        align-content: center;
        text-align: center;
        padding-top:  14px;
        position: absolute;
        top:30px;
        right: 20px;
        margin-left: 55px;
    }
    .btn:hover {
        background-color: white;
        color: rgba(141, 129, 172, 255);
    }
    .h1-title {
        color: white;
        text-align: center;
        font-size:80px;
        margin-top: 0;
        padding-top: 60px;
        font-weight: 900;
        font-style: normal;
    }
    .h5-title {
        font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier;
        font-size: 24px;
        padding: 25px;
        color: rgba(141, 129, 172, 255);
        text-align: center;
    }
    .h6-title {
        font-family: ﻿AdobeInvisFont, ﻿Lato-Regular, ﻿Courier;
        font-size: 14px;
        color:  rgba(132, 142, 151, 255);
        text-align: center;
        margin-bottom: 390px;
    }
    .btn-big {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        width: 390px;
        border-radius: 30px;
        background-color: #8d81ac;
        color: white;
        text-align: center;
        padding: 23px 63px;
        margin:0 auto;
        white-space: nowrap;
    }

    .reviews {

        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover;

    }
    .h2-title {
        color: white;
        text-align: center;
        font-size:60px;
        font-weight: bold;
        margin-top: 0;
        padding-top: 60px;
    }

    .logo-cards {
        padding-left: 55px;
    }

    .card {
        align-self: center;
        width: 40%;
        margin-top: 50px;
        height: 204px;
    }

    .card>a>p {
        text-align: center;
        text-decoration:none;
        position: absolute;
        margin-top: 220px;
    }

    .company-logos>.logo4 {
        background-color: yellow;
    }

    .bottomblock>a>p {
        font-family: ﻿Lato-BoldItalic, sans-serif;
        font-style: italic ;
        color: white;
        text-align: center;
        display: inline-block;
    }

    .company-logos {
        display: block;
        padding-bottom: 50px;
        margin:0 auto;
    }

    .footer-text {
        margin: 0 auto;
        opacity: 1;
        font-family: ﻿Lato-BoldItalic, sans-serif;
        font-size: 14px;
        color: rgba(162, 145, 165, 255);
    }

    hr {
        width: 744px;
        color: rgba(162, 145, 165, 255);
        text-align: center;
    }
}
